@import '_core';

/* ADJUST SCENE BROWSER WIDTH */
/*body:has(#sidebar section.chat-sidebar:not(.active)) {
	#ui-top.offset {
		margin-right: calc(var(--sidebar-width) * var(--always-chat-inactive-scale));
	}
}*/

#sidebar { 
	.sidebar-tab[data-tab="chat"]:not(.active) {
		@include alwaysChat();
	}
	.sidebar-tab[data-tab="chat"][data-pin="bottom-right"]:not(.active) {
		bottom: 0px;
		transform-origin: bottom right;
	}
}