#sidebar.collapsed .sidebar-tab[data-tab=chat] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  scale: var(--always-chat-inactive-scale);
  right: calc(var(--always-chat-position) + 8px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: var(--sidebar-width);
  z-index: -1;
}
#sidebar.collapsed .sidebar-tab[data-tab=chat]:hover {
  scale: 1;
}
#sidebar.collapsed .sidebar-tab[data-tab=chat] > *:not(#chat-log) {
  display: none;
}
#sidebar.collapsed .sidebar-tab[data-tab=chat] #chat-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--always-chat-direction);
          flex-direction: var(--always-chat-direction);
  overflow: visible;
}
#sidebar.collapsed .sidebar-tab[data-tab=chat] #chat-log > li {
  display: none;
}
#sidebar.collapsed .sidebar-tab[data-tab=chat][data-pin=bottom-right] {
  bottom: 0px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}